<div class="container-Kartochka" >

  <div class="container-button-add">
    <app-button_add_remove
      [id]="dataKartocheka.id"
      [dataKartocheka]="dataKartocheka"
    ></app-button_add_remove>
  </div>

  <a [routerLink]="['/kartochka', dataKartocheka.id]" >
    <div class="kartochka-name">{{ dataKartocheka.name }}</div>
    <img
      width="100%" height="auto"
      src="{{ dataKartocheka.imageUrl }}"
      alt="{{ dataKartocheka.name }}"
      class="kartochka-img"
      (load)="loadedImg = 1"
      (error)="loadedImg = -1"
    />
  </a>
  @if(loadedImg === 0) {
    <div>Идет загрузка</div>
  }
  @if(loadedImg === -1) {
    <div>Ошибка загрузки изображения</div>
  }

  <app-opisanie [props]="dataKartocheka" ></app-opisanie>
</div>
