@if (variants.length) {
  <div
    tabIndex=-1
    class="container-Select {{is_open?'opened':''}} {{disabled?'disabled':''}}"
    (blur)="blurFocusOut()"
    >
    <div class="select-value text_dots">
      {{ getCurrentNameValue(current) }}
      <div
        class="select-button"
        (click)="disabled ? undefined : clickOnSelectButton()"
        (blur)="blurFocusOut()"
      >▼</div>
    </div>
    @if (is_open) {
      <div
        class="select-variants"
        >
        @for (item of variants; track item) {
          <div
            class="select-variant text_dots "
            (click)="clickOnSelectVariant(item.id)"
            >
            {{ item.idName}}
          </div>
        }
      </div>
    }
  </div>
} @else {
  <app-loading></app-loading>
}

