@if (!is_empty()) {
  <div class="container-Numeraciya"
    >
    @for (pair of start_num; track pair) {
      <div
        class="numeraciya-view {{ dataNumeraciya.currentPage === dataNumeraciya.minPage?'is-disabled':'' }}"
        (click)="changeCurrentPage(pair[1])"
        >
        {{pair[0]}}
      </div>
    }
    @for (iter of counter(); track iter) {
      <div
        class="numeraciya-view {{ iter === dataNumeraciya.currentPage?'is-current':'' }}"
        (click)="changeCurrentPage(iter)"
        >
        {{iter}}
      </div>
    }
    @for (pair of end_num; track pair) {
      <div
        class="numeraciya-view {{ dataNumeraciya.currentPage === dataNumeraciya.maxPage?'is-disabled':'' }}"
        (click)="changeCurrentPage(pair[1])"
        >
        {{pair[0]}}
      </div>
    }
  </div>
}
